.top{
    background-color: royalblue;
    width: 1500px;
    height: 45px;
}
.fb{
    width: 40px;
    height: 25px;
    position: absolute;
    top: 10px;
    left: 100px;
}
.tw{
    width: 30px;
    height: 25px;
    position: absolute;
    top: 10px;
    left: 145px;
}
.in{
    width: 30px;
    height: 25px;
    position: absolute;
    top: 10px;
    left: 190px;
}
.yo{
    width: 30px;
    height: 25px;
    position: absolute;
    top: 10px;
    left: 230px;
}
.wh{
    width: 30px;
    height: 25px;
    position: absolute;
    top: 10px;
    left: 275px;
}
#a{
    color:white ;
    margin-left: 100px;
    position: absolute;
    top: 9px;
    left: 270px;
}   
.uk{
    width: 90px;
    height: 30px;
    position: absolute;
    top: 8px;
    left: 950px;
    color: green;
}
.donate{
    width: 120px;
    height: 30px;
    position: absolute;
    top: 8px;
    left: 1050px;
    color: green;
}
#smit{
    width: 120px;
    height: 30px;
    position: absolute;
    top: 8px;
    left: 1180px;
    color: green;
}
.doosri{
width: 1400px;
height: 75px;
}
.saylani{
    position: absolute;
    top: 70px;
    left: 140px;
}
.home{
    margin: 27px 20px 40px 565px;
    width: 80px;
    height: 35px;
   background-color: royalblue; 
   color: white;
   border-radius: 50px;
   cursor: pointer;
}
#about:hover{
    background-color: royalblue;
    cursor: pointer;
}
#about{
    border-radius: 50px;
    width: 80px;
    height: 30px;
    padding-left: 10px;
    margin-right: 10px;
   border: none;
}
#Services{
    border-radius: 50px;
    width: 135px;
    height: 30px;
    padding-left: 10px;
    border: none;
}
#Services:hover{
    background-color: royalblue;
    cursor: pointer;
}
#abut{
    display:none;
}
#Service{
    display: none;
}
#Projct{
    display: none;
}
#Project:hover{
    background-color: royalblue;
    cursor: pointer;
}
#Project{
    border-radius: 50px;
    width: 135px;
    height: 30px;
    padding-left: 10px;
    margin-left: 10px;
    border: none;
}   
.media:hover{
background-color: royalblue;
cursor: pointer;

}
.media{
    width:70px;
    height: 30px;
    position: relative;
    top: -72px;
    left: 1060px;
    border-radius: 30px;
    border: none;
}
.ab{
    display: inline-block;
    margin-left: 10px;
}
.ab:hover{
    background-color: royalblue;
    border-radius: 50px;
    cursor: pointer;
    width: 70px;
    height: 30px;
}
.ab{
    width: 70px;
    height: 30px;
    position: relative;
    top: -103px;
    left: 1130px;
    border: none;
}
#Dontion{
    display: none;
}
#Donation:hover{
    background-color: royalblue;
    cursor: pointer;
}
#Donation{
    width: 90px;
    height: 30px;
    position: relative;
    top: -103px;
    left: 1135px;
    border: none;
    border-radius: 50px;
}   
.marque{
    background-color: royalblue;
    width: 1200px;
    margin-left: 90px;
    margin-right: 80px;
    height: 25px;
    color: white;
}

.duction{
   color: green;
    margin-left: -7px;
    text-align: center;
}
.heading{
    display: inline-block;
     color: royalblue;
     text-align: center;
     margin-left: 600px;
     font-size: 35px;
}
.logo{
    margin-left:  650px;
    margin-top: -08px;
    width: 150px;
    height: 40px;
}
#first{
    text-align: justify;
    font-size: normal;
    margin-left: 175px;
    color: grey;
    width: 1000px;
    margin-top: 25px;
}
#second{
    text-align: justify;
    font-size: normal;
    margin-left: 175px;
    color: grey;
    width: 1000px;
}   
#third{
    text-align: justify;
    font-size: normal;
    margin-left: 175px;
    color: grey;
    width: 1000px;
}
#fourth{
    text-align: justify;
    font-size: normal;
    margin-left: 175px;
    color: grey;
    width: 1000px;
}
.contain{
    width: 1500px;
    height: 290px;
    background-color: royalblue;
}
.fork{
    
     margin-left: 160px;
}
.number{
    margin-left: 110px;
     font-size: 40px;
     color: white;
     font-family: Arial, Helvetica, sans-serif;  
}
.neechay{
    margin-left: 90px;
     font-size: 20px;
     color: white;
       
}
.wo{
   margin-left: 310px;     
    
}
.doosra{
    margin-left: 215px;
    font-size: 40px;
}
.neechay2{
    margin-left: 70px;
    font-size: 20px;
}
.teesri{
    margin-left: 310px;
}
.number3,.number4{
    margin-left:205px ;
    font-size: 40px;
}
.neechay3{
    font-size: 20px;
    margin-left: 120px;
}
.choti{
    margin-left: 310px;
}
.neechay4{
    font-size: 20px;
    margin-left: 190px;
}
.what{ margin-left: -15px;
    color: blue;
    text-align: center;
}
.are{
    color: green;
    text-align: center;
}
.sm{
    margin-left: 650px;
}
.container1,.container3,.container4,.container5,.container6{
    background-color: white;
    width: 350px;
    height: 215px;
    border: 1px solid white;
    /* margin-left: 180px;  */
     
}
.container2{
    background-color: white;
    width: 350px;
    height: 215px;
    border: 1px solid white;
    position: relative;
    top: -220px;
    left: 530px; 
}

.container3{
    position: relative;
    top: -435px;
    left: 980px;

}
.container4{
    position: relative;
    top: -400px;
    left: 0px;
}
.container5{
    position: relative;
    top: -620px;
    left: 530px;
}
.container6{
    position: relative;
    top: -835px;
    left: 980px;
}
#main{
    background-color: white;
    height: 680px;
}
#heading{
    margin-left: 100px;
}
#p,#it{
    /* margin-left: 150px; */
    border-radius:10px;
    width: 400px;
    height: 60px;
    background-color: whitesmoke;
    padding-top: 20px;
    padding-left: 30px;
    color: royalblue;
       
}
#housing,#thar{
    border-radius:10px;
    width: 400px;
    height: 60px;
    background-color: whitesmoke;
    padding-top: 20px;
    padding-left: 30px;
    color: royalblue;
    position: relative;
    margin-left: 600px;
    top: -137px;     
}
#marquee{
 overflow: initial;
 position: relative;
 top: -280px;
 margin-left: 1100px;   
}
#up{
    margin-left: 100px;
}
.headin{
    display: inline-block;
    color: royalblue;
    text-align: center;
    margin-left: 600px;
    font-size: 45px;
    position: relative;
    top: -200px;
}
.log{
    margin-left:  650px;
    margin-top: -400px;
    width: 150px;
    height: 40px;
}
.row{
    justify-content: center;
    position: relative;
    top: -100px;
    left: -40px;
}
.aakhri{
    background: #25272e;;
    height: 400px;
    width: 1500px;
}
.hea{
    display: flexbox;
    justify-content: right;
    color:gray;
    text-align: left;
    padding-left: 80px;
    padding-top: 90px;
    font-size: 18px;
}
#sp{
    padding-left: 25px;
}
#us{
    color: white;
    /* text-align: center; */
    padding-left: 550px;
    margin-top: -200px;
    font-size: 20px;
}
#connect{
    color: white;
    padding-left: 350px;
    font-size: 20px;
}
#last{
    width: 40px;
    height: 25px;
    position: relative;
    left: 460px;
    top: 5px;
}
#fin{
    display: flex;
    justify-items: right;
    margin-left: 1450px;
}
body{
    /* Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */
// Extra small devices (portrait phones, less than 576px)
@media  (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }



}